HR Agent.json
{
  "name": "HR Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        0
      ],
      "id": "bd627f26-63da-4e3f-9394-0b3d14ccd960",
      "name": "Telegram Trigger",
      "webhookId": "03172ae6-90f5-4d75-9132-1444a3cc59d4",
      "credentials": {
        "telegramApi": {
          "id": "OsMKiqwXUqvFPMYY",
          "name": "Novatech"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres el asistente de HR de Truora. Tu trabajo es ayudar a los empleados \ncon solicitudes y preguntas sobre procesos internos. Responde siempre \nen español, de forma amigable y concisa.\n\nTIPOS DE SOLICITUD QUE PUEDES PROCESAR:\n- novedad_nomina: aumentos, horas extra, bonos de vivienda, reembolso \n  Allianz, reembolsos de viaje, bonos adicionales, licencias de \n  maternidad, deducciones de cursos, cuota SENA, créditos de libranzas, \n  anticipos de nómina\n- documento: carta laboral, certificado de ingresos, paz y salvo, \n  certificado_laboral\n- actualizacion_datos: cuenta bancaria, dirección, contacto de emergencia\n- permiso: cita médica, diligencia personal\n- logistica: vuelos, Airbnbs, viáticos\n- registro_empleado: registrar un nuevo empleado en el sistema\n- pregunta_general: preguntas sobre procesos, beneficios, pagos\n\nPROCESOS Y RESPUESTAS DE TRUORA:\n- Vacaciones: se solicitan por PeopleForce. Entra a la plataforma, \n  busca la opción de vacaciones y genera la solicitud. Tu jefe \n  la aprueba directamente ahí.\n- Pagos: la nómina se paga una vez al mes, el día 25.\n- Viáticos: hay una tarjeta de crédito corporativa para gastos. \n  Los gastos se legalizan subiendo los recibos al sistema.\n- Vuelos: se reservan a través de Aviatur. HR gestiona la aprobación.\n- Airbnbs: se solicita a HR con destino y fechas, HR hace la reserva.\n- Libranzas: se solicita directamente a HR con el monto y entidad financiera.\n- Certificado laboral: se puede solicitar aquí mismo y se genera automáticamente.\n- Sala de reuniones: se reserva directamente en la oficina con HR.\n- Organigrama: disponible en PeopleForce.\n- Abrir una vacante: escríbele a HR por este canal, te enviamos \n  un formulario para llenar la información del rol y juntos \n  construimos la descripción del cargo.\n- Seguro Allianz: cubre gastos médicos. Para reembolsos, \n  solicítalos a HR con los recibos correspondientes.\n\nFORMATO EXACTO DE DATOS POR TIPO DE SOLICITUD:\n\nPara aumento_salarial, el campo datos debe ser SIEMPRE:\n{\"salario_actual\": 0, \"salario_nuevo\": 0, \"fecha_efectiva\": \"YYYY-MM-DD\"}\n\nPara horas_extra, el campo datos debe ser SIEMPRE:\n{\"horas_diurnas\": 0, \"horas_nocturnas\": 0, \"horas_dominicales\": 0, \"horas_festivas\": 0}\n\nNunca uses nombres de campos diferentes a los especificados arriba.\n\nREGLAS IMPORTANTES:\n- Responde SIEMPRE en este formato JSON exacto, sin texto adicional, \n  sin backticks, sin markdown:\n{\n  \"tipo\": \"tipo_de_solicitud\",\n  \"subtipo\": \"especificación\",\n  \"datos\": {},\n  \"respuesta\": \"mensaje amigable al empleado\"\n}\n- Si es certificado laboral: tipo \"documento\", subtipo \"certificado_laboral\"\n- Si el mensaje es un saludo o no es una solicitud clara: tipo \"pregunta_general\"\n- Si falta información para completar la solicitud, pregunta \n  específicamente qué falta en el campo \"respuesta\"\n- Nunca inventes información sobre procesos que no están listados arriba\n- IMPORTANTE: Para permisos, con saber el tipo (cita médica o diligencia personal) es suficiente para registrar. No pidas más información de la necesaria.\nPara novedades de nómina, sí necesitas los datos completos antes de registrar. Si falta información, usa tipo \"pregunta_general\" mientras recopilas los datos. Solo cambia el tipo a la solicitud correcta cuando el usuario haya confirmado todos los detalles."
            },
            {
              "content": "={{ $('Code in JavaScript3').first().json.mensaje_actual }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -128,
        0
      ],
      "id": "8899e908-69db-4177-9ebc-97c191d01143",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "9gK6yDP6qNs7uLFG",
          "name": "OpenAI account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst rawText = input.output[0].content[0].text;\n\n// Limpia backticks de markdown si los hay\nconst text = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    tipo: \"error\",\n    subtipo: \"parse_error\",\n    datos: {},\n    respuesta: \"Disculpa, no entendí tu solicitud. ¿Puedes reformularla?\"\n  };\n}\n\nreturn [{\n  json: {\n    tipo: parsed.tipo,\n    subtipo: parsed.subtipo,\n    datos: parsed.datos,\n    respuesta: parsed.respuesta,\n    telegram_id: $('Telegram Trigger').first().json.message.from.id.toString(),\n    nombre_usuario: $('Telegram Trigger').first().json.message.from.first_name\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "cde97b29-2978-45d8-8911-b06cf5c9917e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "441f7cab-799a-4b08-9289-faf1fc2a6f7b",
                    "leftValue": "={{ $('Code in JavaScript').first().json.tipo }}",
                    "rightValue": "=novedad_nomina",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nomina"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3e2e81dd-7943-497a-a787-3748b5516044",
                    "leftValue": "={{ $('Code in JavaScript').first().json.tipo }}",
                    "rightValue": "documento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Documento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fd804541-8bc3-462a-9658-8974575d1aa9",
                    "leftValue": "={{ $('Code in JavaScript').first().json.tipo }}",
                    "rightValue": "actualizacion_datos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Actualización"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "abe6d447-4c42-4eed-81b9-d114de8bf921",
                    "leftValue": "={{ $('Code in JavaScript').first().json.tipo }}",
                    "rightValue": "permiso",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Permiso"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d498bf44-d6ec-47e2-ac57-752aacf6cb82",
                    "leftValue": "={{ $('Code in JavaScript').first().json.tipo }}",
                    "rightValue": "logistica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Logística"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e3e6a517-d4b1-4836-8e14-66e7ef904c43",
                    "leftValue": "={{ $('Code in JavaScript').first().json.tipo }}",
                    "rightValue": "pregunta_general",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAQ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a66b5b2-0d1c-4cc9-acd6-c0f58b0d2e7a",
                    "leftValue": "={{ $('Code in JavaScript').first().json.tipo }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        736,
        -80
      ],
      "id": "47430bd1-1e39-4401-83a4-9ed95cf2fdf4",
      "name": "Switch"
    },
    {
      "parameters": {
        "tableId": "novedades_nomina",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empleado_id",
              "fieldValue": "={{ $('Code in JavaScript').first().json.telegram_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $('Code in JavaScript').first().json.subtipo }}"
            },
            {
              "fieldId": "datos",
              "fieldValue": "={{ $('Code in JavaScript').first().json.datos }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "pendiente"
            },
            {
              "fieldId": "resumen_ai",
              "fieldValue": "={{ $('Code in JavaScript').first().json.respuesta }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        -544
      ],
      "id": "76892812-b7ec-4178-85b2-0b1f62559d29",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "solicitudes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empleado_id",
              "fieldValue": "={{ $json.telegram_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.subtipo }}"
            },
            {
              "fieldId": "detalle",
              "fieldValue": "={{ $json.datos }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "pendiente"
            },
            {
              "fieldId": "respuesta_bot",
              "fieldValue": "={{ $json.respuesta }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        -880
      ],
      "id": "f100f535-fb67-4887-83de-372630caf29b",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "solicitudes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empleado_id",
              "fieldValue": "={{ $('Code in JavaScript').first().json.telegram_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $('Code in JavaScript').first().json.subtipo }}"
            },
            {
              "fieldId": "detalle",
              "fieldValue": "={{ $('Code in JavaScript').first().json.datos }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "pendiente"
            },
            {
              "fieldId": "respuesta_bot",
              "fieldValue": "={{ $('Code in JavaScript').first().json.respuesta }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        -384
      ],
      "id": "d3d88bb0-46ca-49f8-82ba-c90a10fc9e21",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "solicitudes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empleado_id",
              "fieldValue": "={{ $('Code in JavaScript').first().json.telegram_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $('Code in JavaScript').first().json.subtipo }}"
            },
            {
              "fieldId": "detalle",
              "fieldValue": "={{ $('Code in JavaScript').first().json.datos }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "pendiente"
            },
            {
              "fieldId": "respuesta_bot",
              "fieldValue": "={{ $('Code in JavaScript').first().json.respuesta }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        -208
      ],
      "id": "c01086e8-92e1-407a-9e9c-aa1937111186",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "solicitudes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empleado_id",
              "fieldValue": "={{ $('Code in JavaScript').first().json.telegram_id }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $('Code in JavaScript').first().json.subtipo }}"
            },
            {
              "fieldId": "detalle",
              "fieldValue": "={{ $('Code in JavaScript').first().json.datos }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "pendiente"
            },
            {
              "fieldId": "respuesta_bot",
              "fieldValue": "={{ $('Code in JavaScript').first().json.respuesta }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        -48
      ],
      "id": "b1561fd6-5045-4281-b5bd-c6d4b8d01ff2",
      "name": "Create a row4",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $('Code in JavaScript').first().json.respuesta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        -16
      ],
      "id": "29e88227-fac8-4b7b-99ec-b24d26877627",
      "name": "Send a text message",
      "webhookId": "41e5b71e-8428-4434-bda9-d0126999eedc",
      "credentials": {
        "telegramApi": {
          "id": "OsMKiqwXUqvFPMYY",
          "name": "Novatech"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "empleados",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "keyValue": "={{ $('Code in JavaScript').first().json.telegram_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        -880
      ],
      "id": "807a5944-6098-471c-8e0f-187b888e5213",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const empleado = $('Get a row').first().json;\nconst hoy = new Date().toLocaleDateString('es-CO', { \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst html = `<html>\n<body style=\"font-family: Arial; padding: 60px; color: #333; line-height: 1.8;\">\n\n  <br><br>\n\n  <p style=\"text-align: center; font-weight: bold; font-size: 14px;\">\n    TRUORA S.A.S. - NIT 901189979-5\n  </p>\n\n  <br>\n\n  <p style=\"text-align: center; font-weight: bold; font-size: 14px;\">\n    CERTIFICA\n  </p>\n\n  <br><br>\n\n  <p style=\"text-align: justify; font-size: 13px;\">\n    Que <strong>${empleado.nombre}</strong>, con cédula de ciudadanía No. \n    <strong>${empleado.cedula}</strong>, trabaja en la empresa Truora S.A.S., \n    con domicilio en Bogotá, Colombia, <strong>desde el ${empleado.fecha_ingreso}</strong>, \n    desempeñando el cargo de <strong>${empleado.cargo}</strong>. \n    Se encuentra vinculado mediante un contrato de trabajo \n    <strong>${empleado.tipo_contrato}</strong>, recibe un salario mensual bruto de \n    <strong>COP ${Number(empleado.salario).toLocaleString('es-CO')}</strong>\n  </p>\n\n  <br><br>\n\n  <p style=\"text-align: justify; font-size: 13px;\">\n    La presente certificación se expide a solicitud del trabajador en \n    ${empleado.ciudad}, el día <strong>${hoy}</strong>\n  </p>\n\n  <br><br><br>\n\n  <p style=\"font-size: 13px;\"><strong>David Giraldo Gaviria</strong></p>\n  <p style=\"font-size: 13px;\"><strong>Head of People</strong></p>\n  <p style=\"font-size: 13px;\">dgiraldo@truora.com</p>\n  <p style=\"font-size: 13px;\">C.C 1214733501</p>\n  <p style=\"font-size: 13px;\">Tel: +57 3043358722</p>\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    html: html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -880
      ],
      "id": "e40b2e42-c002-4b49-b7bc-3ecc939a7b6b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07c7048e-1785-4f54-a37d-74a8f84d9467",
              "leftValue": "={{ $('Code in JavaScript').first().json.subtipo }}",
              "rightValue": "certificado_laboral",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        -736
      ],
      "id": "99d1277f-e128-4b41-a681-176e90c92bf9",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6499b50b-c5f1-4670-91f5-b7eba0578c28",
              "name": "respuesta",
              "value": "Tu solicitud de documento fue registrada. HR te contactará pronto para procesarla.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        -704
      ],
      "id": "e64b5f71-0a94-4283-b5b9-a2c0f4bbebef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic sk_7a9ffcc120409f82f099a81fc27811e707a310e2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Code in JavaScript1').first().json.html }}"
            },
            {
              "name": "sandbox",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        -880
      ],
      "id": "0b27b944-2bee-45bb-b33f-bc7a3e1957e6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "=Certificado_Laboral_{{ $('Get a row').first().json.nombre }}.pdf"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        -880
      ],
      "id": "dd8c9391-cf5b-49b5-924f-2f60316e3f14",
      "name": "Send a document1",
      "webhookId": "c7e7b3ff-243b-4ef4-b713-61a286a21b4d",
      "credentials": {
        "telegramApi": {
          "id": "OsMKiqwXUqvFPMYY",
          "name": "Novatech"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fecha = new Date();\nconst meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', \n               'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];\nconst tab = `${meses[fecha.getMonth()]} ${fecha.getFullYear()}`;\nconst datos = $('Code in JavaScript').first().json.datos || {};\nconst subtipo = $('Code in JavaScript').first().json.subtipo || '';\n\nconst tipoNormalizado = {\n  'aumento': 'aumento_salarial',\n  'aumentos': 'aumento_salarial',\n  'aumento salarial': 'aumento_salarial',\n  'horas extra': 'horas_extra',\n  'horas extras': 'horas_extra',\n  'hora extra': 'horas_extra'\n}[subtipo.toLowerCase()] || subtipo;\n\nreturn [{\n  json: {\n    empleado_id: $('Code in JavaScript').first().json.telegram_id,\n    tipo: tipoNormalizado,\n    estado: 'pendiente',\n    created_at: new Date().toISOString(),\n    salario_actual: datos.salario_actual || datos.monto_anterior || datos.sueldo_actual || datos.sueldo_anterior || '',\n    salario_nuevo: datos.salario_nuevo || datos.monto_nuevo || datos.nuevo_sueldo || datos.sueldo_nuevo || '',\n    horas_diurnas: datos.horas_extra_diurnas || datos.diurnas || datos.horas_diurnas || '',\n    horas_nocturnas: datos.horas_extra_nocturnas || datos.nocturnas || datos.horas_nocturnas || '',\n    horas_dominicales: datos.horas_extra_dominicales || datos.dominicales || datos.horas_dominicales || '',\n    horas_festivas: datos.horas_extra_festivas || datos.festivas || datos.horas_festivas || '',\n    tab_nombre: tab\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -544
      ],
      "id": "13942eae-40d0-4a03-a4e2-929c0e9f2875",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AUhO5uKkLI5cNisTurEhRtfbbHQsmyRhbny98XF_jiw",
          "mode": "list",
          "cachedResultName": "Novedades nómina",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AUhO5uKkLI5cNisTurEhRtfbbHQsmyRhbny98XF_jiw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.tab_nombre }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        -544
      ],
      "id": "0773b188-74a7-4a48-8cb0-5731231c5843",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YpO1XxQSHR17q3pN",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversaciones",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $json.message.from.id.toString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        0
      ],
      "id": "4fdd92d0-01c8-408b-9e64-0a7e40708ded",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst historial = items\n  .filter(item => item.json && item.json.role && item.json.content)\n  .map(item => ({\n    role: item.json.role,\n    content: item.json.content\n  }));\n\nconst mensajeNuevo = {\n  role: 'user',\n  content: $('Telegram Trigger').first().json.message.text\n};\n\nreturn [{\n  json: {\n    historial: [...historial, mensajeNuevo],\n    telegram_id: $('Telegram Trigger').first().json.message.from.id.toString(),\n    mensaje_actual: mensajeNuevo.content\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        0
      ],
      "id": "e29180da-e1e4-4632-a4bb-603628eaef36",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "tableId": "conversaciones",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $('Code in JavaScript3').first().json.telegram_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Code in JavaScript3').first().json.mensaje_actual }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        0
      ],
      "id": "9fb1e88e-209e-442d-aa78-93acdfb037e2",
      "name": "Create a row5",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversaciones",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $('Code in JavaScript3').first().json.telegram_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.respuesta }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "aa0da365-345c-4f14-a966-28bdff7ea3fe",
      "name": "Create a row6",
      "credentials": {
        "supabaseApi": {
          "id": "NU7BOmgi6ZyPStS8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "1673e3c1-dd52-43de-8926-08c01ce2c8f2",
      "name": "Code in JavaScript4"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row4": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row5": {
      "main": [
        [
          {
            "node": "Create a row6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row6": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0c5a12db-8608-4520-a166-a2071ec0d158",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "997a4bb6e5b4586b43f03c0324844f87a637e8f3c671f617deafc5d22db0f035"
  },
  "id": "qhSax2HLFAbmJ6Mh",
  "tags": []
}